<div class="banner">
  <div class="container">
    <h1 style="text-shadow: 1px 1px 12px black;">Your dream car</h1>
    <p style="text-shadow: 1px 1px 12px black;">With you wherever you are</p>
    <%= link_to 'Explore Cars', cars_path, class: 'btn-green', style: 'box-shadow: 0px 0px 15px black;' %>
  </div>
</div>

<div class="container">
  <div class="d-flex">
    <div style="box-shadow: 0px 0px 3px black;" class="p-4 home-info text-center m-4">
      <h2>Your dream car, at the click of a button</h2>
      <img src="https://images.unsplash.com/photo-1502877338535-766e1452684a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80" alt="" class="car-photo mt-4">
      <p class="mt-4">Easily see and rent the car of your dreams from the comfort of your home. Amazing responsive design as fast as the car you would be riding.</p>
    </div>
    <div style="box-shadow: 0px 0px 3px black;" class="p-4 home-info text-center m-4">
      <h2>The nightmare of going to a car dealership is over.</h2>
      <img src="https://images.unsplash.com/photo-1489824904134-891ab64532f1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80" alt="" class="car-photo mt-4">
      <p class="mt-4">Easily see and rent the car of your dreams from the comfort of your home. Amazing responsive design as fast as the car you would be riding.</p>
    </div>
  </div>
</div>
