<div class="banner">
  <div class="container">
    <h1>Your dream car</h1>
    <p>Freedom to choose what you want and when you to drive!</p>
    <%= link_to 'Explore Cars', cars_path, class: 'btn-green' %>
  </div>
</div>


</div><div class="container">
<h2>The car sharing service that gives you flexibility to rent the desired car!</h2>
  <div class="home-cards mt-3 mb-5">
    <div class="card-trip">
      <img src="https://images.unsplash.com/photo-1598624211345-d321dda059b2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" />
      <div class="card-trip-infos">
        <div>
          <h2>Freedom to choose when you drive!</h2>
          <p>Rent-a-Car provides you with the best driving experience at the most affordable prices. We believe in giving our customers the best driving experience without any of the hassles that come with owning a car. </p>
        </div>
      </div>
    </div>
    <div class="card-trip">
      <img src="https://images.unsplash.com/photo-1572089789747-71c98f3e2213?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGNhciUyMG9uJTIwdGhlJTIwcm9hZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" />
      <div class="card-trip-infos">
        <div>
          <h2>A diverse fleet of awesome cars!</h2>
          <p>We understand that the car preferences of our customers differ. This is why we offer a wide and diverse range of cars ranging from raging American Mustangs to Subtle Peugeot saloons.

You don‘t have to worry about insurance and maintenance. All we need you to do is enjoy the ride. </p>
        </div>
      </div>
    </div>
    <div class="card-trip">
      <img src="https://images.unsplash.com/photo-1583142305729-5cb119ce5d3e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" />
      <div class="card-trip-infos">
        <div>
          <h2>Exclusive online experience!</h2>
          <p>Rent-a-Car provides you with the best driving experience at the most affordable prices. We believe in giving our customers the best driving experience without any of the hassles that come with owning a car. </p>
        </div>
      </div>
    </div>
  </div>
    <div class="bottom-cards mt-3 mb-5">
    <div class="card-trip">
      <div class="card-trip-infos">
        <div>
          <h2>DEDICATED CUSTOMER SUPPORT:</h2>
          <p>We are dedicated to making our service better. Our team of dedicated customer support staff and sophisticated navigation system ensures that you always get help when and where you need it.   Our 24/7 customer support staff is always ready to help with roadside assistance, vehicle reservations, and more.</p>
        </div>
      </div>
  </div>
</div>
