.btn-green {
  background: #f6cf58;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;

  color: black;
  padding: 10px 18px;
  border-radius: 4px;
  &:hover {
    background: #ffd968;
    color: black;
    text-decoration: none;
  }
}

.thin {
  padding: 9px 24px;
}

.back-btn {
  background: black;
  color: white;
  padding: 12px 24px;
  border-radius: 4px;
}

.no-decorations {
  color: white;
  text-decoration: none;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.btn-big {
  font-size: 24px !important;
}

.blue {
  background-color: blue;
  margin-right: 8px;
}
