// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "flatpickr/dist/flatpickr";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap");

body {
  background: #f1ede9;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  &:hover {
    text-decoration: none !important;
  }
}

.cursor {
  cursor: pointer;
}
.container-custom {
  margin: 0 120px !important;
}

.show-card {
  background: black;
  color: white;
  // box-shadow: 0px 0px 5px rgb(168, 168, 168);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.negative-margin-right {
  margin-left: -60px;
  z-index: 1;
  // margin-top: 80px;
}

.car-photo {
  width: 100%;
  height: 100%px;
  object-fit: cover;
  box-shadow: 0px 0px 10px gray;
}

.border-right {
  border-right: 1px solid black !important;
}

.border-left {
  border-left: 1px solid black !important;
  margin-bottom: -40px;
}

.border-bottom {
  border-bottom: 1px solid black !important;
  margin-right: -20px;
}

.show-info {
  background: black;
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  width: fit-content;
}
.left-margin1 {
  margin-left: 20px;
}

.left-margin2 {
  margin-left: 100px;
}

.left-margin3 {
  margin-left: 180px;
}

.left-margin4 {
  margin-left: 260px;
}

// .show-question {
//   text-decoration: underline;
// }

.bigger-font {
  font-size: 16px;
}

.wacky-line {
  border-bottom: 1px solid black;
}

.wacky-rotation {
  transform: rotate(0.1turn) translate(-80px, 100px);
  width: 700px;
}

.title {
  border-radius: 50px;
}

.color-beige {
  background-color: #f1ede9 !important;
}

.red {
  background: red;
}

.diagonal-split-background {
  background-color: #013a6b;
  background-image: -webkit-linear-gradient(30deg, #013a6b 50%, #004e95 50%);
}

.h {
  height: 100%;
}

.booking-text {
  color: black !important;
  text-decoration: none !important;
  &:hover {
    color: black !important;
    text-decoration: none !important;
  }
}

.booking-text:hover {
  color: black !important;
  text-decoration: none !important;
}

.margin-left {
  margin-left: 100px;
}

.rounded-border {
  border-radius: 4px;
  background-color: rgba(255, 0, 0, 0.829);
}

.fix-top {
  position: sticky !important;
  top: 20px !important;
  left: 20px !important;
  z-index: 1;
  overflow: hidden;
}

.filter-background {
  background-color: #f1ede9;
  padding: 30px;
  width: fit-content;
  box-shadow: 1px 1px 10px #f1ede9;
}

.map-space {
  margin: 20px !important;
}

.home-info {
  width: 800px;
}

.width-height {
  width: 40%;
  height: 100%;
}

.car-image {
  width: 500px;
  background-size: cover;
  height: 500px;
  background-position: center;
}

.gold {
  color: gold;
}

.review-card {
  width: 30%;
}

.bg-review {
  background-color: #f1ede9b9;
}
